@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*?-------------------RESET---------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*?---------------------BOTONES-----------------*/
/*BOTON REUTILIZABLE EN TODAS LAS PAGINAS CON CARD DE PRODUCTO*/
.boton {
    font-family: "Arsenal", sans-serif;
    width: 120px;
    background-color: #a48c74;
    text-decoration: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 5px;
    margin: 15px;
    text-align: center;
}

.boton:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: white;
}
/*BOTON DE LA TIENDA PARA SIN STOCK*/
.botonDisabled {
    font-family: "Arsenal", sans-serif;
    text-decoration: none;
    border-radius: 8px;
    padding: 5px;
    margin: 15px;
    text-align: center;
}
/*BOTON DEL BANNER Y ENLACE DE INDEX A TIENDA*/
.botonDos {
    font-family: "Arsenal", sans-serif;
    font-style: normal;
    font-weight: 600;
    width: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*BOTON DEL BUSCADOR EN EL NAV*/
.botonTres {
    font-family: "Arsenal", sans-serif;
    background-color: #a48c74;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0
}

.botonTres:hover {
    background-color: #c6adff;
    color: white;
}

/*BOTON DEL FORM EN CONTACTO*/
.botonForm {
    font-family: "Arsenal", sans-serif;
    width: 100%;
    background-color: #a48c74;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 5px;
}

.botonForm:hover {
    background-color: #ccc7c2;
    color: black;
}

/*?-----------------------------------HEADER----------------------------------*/
/*! NUEVO NAVBAR DE BOOTSTRAP */
.navApariencia {
    background-color: #a48c74;
    font-family: "Arsenal", sans-serif;
    font-style: normal;
}

.navApariencia a img {
    width: 40px;
    height: 40px;
}

.navApariencia div div ul li a {
    color: #ffffff;
    font-weight: 600;
}

/*?----------------------------------------MAIN---------------------------------*/
.fixed img {
    width: 80px;
}

.fixed {
    position: fixed;
    bottom: 80px;
    right: 15px;
}

/**-------------------------------INDEX---------------------------------*/
.hero {
    width: 100%;
    height: 400px;
    text-align: center;
    color: white;
    background-image: url(../img/banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.hero h1 {
    color: white;
    font-size: 50px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.hero h2 {
    font-weight: normal;
    font-size: 30px;
    font-style: italic;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    margin-top: 20px;
}

.productos {
    font-family: "Arsenal", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productos h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 25px;
    text-align: center;
    color: #a48c74;
}

/*!------CONTENEDOR PADRE GRID Y FLEX-----*/

.productos .productosContenedor {
    width: 100%;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px;
    justify-items: center;
}

.productos .productosContenedor div img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 1px 2px 33px 1px rgba(204, 199, 194, 0.72);
    -webkit-box-shadow: 1px 2px 33px 1px rgba(204, 199, 194, 0.72);
    -moz-box-shadow: 1px 2px 33px 1px rgba(204, 199, 194, 0.72);
}

.cardProducto {
    width: 300px;
    height: 450px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productosItem {
    width: 300px;
    height: 400px;
    text-align: center;
    position: relative;
}

.productosItem h3 {
    margin: 0;
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
    background-color: #ffffff5b;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/**--------------------------------CONTACTO---------------------------------*/
.carrusel h2 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 30px;
    font-style: italic;
    color: #a48c74;
    background-color: #e2dedb;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.contenedorContacto {
    margin: 40px 20px 40px 20px;
    display: flex;
    justify-content: space-between;
}

.formularioEncabezado {
    font-family: "Arsenal", sans-serif;
    margin: 40px 20px 40px 20px;
}

.formularioEncabezado h2 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #a48c74;
}

.formularioEncabezado p {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin: 0;
}

.formulario {
    width: 50%;
    font-family: "Arsenal", sans-serif;
}

.formularioDatos input {
    width: 100%;
    height: 40px;
    border: 2px solid #ccc7c2;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
    resize: none;
}

.formularioMotivo {
    width: 70%;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formularioMotivo input {
    appearance: none;
    border-radius: 50%;
    width: 14px;
    height: 14px;

    border: 2px solid #ccc7c2;
}

.formularioMotivo input:checked {
    border-radius: 50%;
    border: 5px solid #a48c74;
}

.formularioMotivo div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.formularioMotivo div label {
    margin-right: 5px;
}

.detalle h3 {
    font-size: 16px;
}

.detalle textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    color: #adadad;
    border: 2px solid #ccc7c2;
    border-radius: 4px;
    resize: none;
    padding: 12px 20px
}

.infoImportante {
    width: 40%;
    height: 220px;
    padding: 12px;
    font-family: "Arsenal", sans-serif;
    border: 2px solid black;
    border-radius: 4px;
}

.infoImportante h3 {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}

.infoImportante p {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

/**--------------------------------TIENDA---------------------------------*/

.tituloTienda {
    margin: 20px;
    text-align: center;
}

.tituloTienda h2 {
    font-family: "Playfair Display", serif;
    font-size: 40px;
    margin: 10px;
    color: #a48c74;
}

.tituloTienda h3 {
    font-family: "Arsenal", sans-serif;
    font-size: 30px;
    margin: 10px;
    color: #a48c74;
}

.articulosTienda {
    font-family: "Arsenal", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*!------CONTENEDOR PADRE GRID Y FLEX-----*/

.articulosTienda .productosContenedor {
    width: 100%;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 50px;
    justify-items: center;
}

.articulosTienda .productosContenedor div img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 1px 2px 33px 1px rgba(204, 199, 194, 0.72);
    -webkit-box-shadow: 1px 2px 33px 1px rgba(204, 199, 194, 0.72);
    -moz-box-shadow: 1px 2px 33px 1px rgba(204, 199, 194, 0.72);
}

.cardTienda {
    width: 250px;
    height: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tiendaItem {
    width: 250px;
    height: 350px;
    text-align: center;
    position: relative;
}

.tiendaItem h3 {
    margin: 0;
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
    background-color: #ffffff5b;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/**---------------------------------ENVIOS----------------------------------*/
.enviosContenedor {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}

.tituloAcordeon {
    text-align: left;
    font-family: "Arsenal", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 15px;
}

.envios {
    font-family: "Arsenal", sans-serif;
    width: 50%;
}

.tituloEnvios h2 {
    font-family: "Arsenal", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    color: #a48c74;
}

.envios ul li a {
    font-weight: 500;
    text-decoration: none;
    color: #c6adff;
}

.acordeonEstilo {
    font-family: "Arsenal", sans-serif;
    text-align: left;
}

.acordeonEstilo a {
    color: #c6adff;
    text-decoration: none;
}

.itemAcordeonEstilo:focus-within {
    color: #a48c74;
    background-color: #ffffff;
    box-shadow: none;
}

.itemAcordeonEstilo:visited {
    color: #212529 !important;
    background-color: #ffffff;
    box-shadow: none;
}

.mapaEnvios {
    text-align: left;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.mapaEnvios h3 {
    text-align: left;
    font-family: "Arsenal", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0px 15px 0px;
}

.mapaEnvios p {
    font-family: "Arsenal", sans-serif;
}

.otrasConsultas {
    margin: 20px;
}

.otrasConsultas h3 {
    text-align: center;
    font-family: "Arsenal", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0px 15px 0px;
}

.otrasConsultas li {
    font-family: "Arsenal", sans-serif;
}

.otrasConsultas .consultas h3 {
    text-align: left;
    font-family: "Arsenal", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.consultas li a {
    color: #c6adff;
    text-decoration: none;
}

.consultas .metodoPago {
    display: flex;
    justify-content: start;
    align-items: center;
}

.metodoPagoItem {
    margin: 0px 25px 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consultas .metodoPagoItem h3 {
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.consultas .metodoPagoItem img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**--------------------------A CERCA DE GAIA-----------------------------*/
.historia {
    font-family: "Arsenal", sans-serif;
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}

.titulo {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 30px;
    font-style: italic;
    color: #a48c74;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.historia img {
    width: 300px;
    height: 400px;
    border-radius: 20%;
    object-fit: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.historia p {
    font-family: "Arsenal", sans-serif;
    font-size: 20px;
}

.nuestraHistoria {
    width: 50%;
    text-align: left;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.nuestraHistoria p span {
    font-weight: 600;
    color: #a48c74;
}

.nuestroObjetivo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-weight: 700;
    font-style: italic;
    color: #a48c74;
}

.banner2 img {
    width: 100%;
    height: 400px;
    object-fit: cover
}

/*?--------------------------FOOTER--------------------------------*/

/*!------CONTENEDOR PADRE GRID Y FLEX-----*/

.footerContenedor {
    font-family: "Arsenal", sans-serif;
    background-color: #ccc7c2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.footerContenedor div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContenedor div h3 {
    font-size: 15px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.footerContenedor div a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContenedor .navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerContenedor .navBar img {
    height: 35px;
    margin-right: 5px;
}

.footerContenedor .navBar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 5px 0px;
}

.footerContenedor .navBar ul li {
    text-align: center;
}

.footerContenedor .navBar ul li a {
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 5px;
}

/*!---------------------- MEDIA QUERYS ----------------------*/
/*--------------------------INDEX--------------------------*/
@media screen and (max-width: 1070px) {
    .productos .productosContenedor {
        margin: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 30px;
        justify-items: center;
    }

    .productosItem {
        width: 220px;
        height: 320px;
    }

    .footerContenedor .navBar ul li {
        font-size: 14px;
    }

    .fixed {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    .productosItem h3 {
        font-size: 16px;
    }

    .productos h2 {
        font-size: 20px;
    }

    .footerContenedor div a img {
        width: 15px;
        height: 15px;
        margin-right: 3px;
    }

    .footerContenedor div h3 {
        font-size: 13px;
    }

    .footerContenedor .navBar ul li {
        font-size: 12px;
    }
}

@media screen and (max-width:890px) {
    .footerContenedor {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 5px;
    }

    .footerContenedor div {
        order: 1;
    }

    .productos .productosContenedor {
        gap: 20px;
    }
}

@media screen and (max-width:650px) {
    .hero {
        width: 100%;
        height: 350px;
    }

    .hero h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .hero p {
        font-size: 15px;
        margin-top: 15px;
    }

    .hero .botonDos {
        font-size: 14px;
        margin: 10px;
    }

    .productos .productosContenedor {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }

    .productosItem {
        width: 300px;
        height: 350px;
    }
}

@media screen and (max-width:450px) {
    .hero {
        width: 100%;
        height: 250px;
    }

    .hero h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .hero h2 {
        display: none;
    }

    .hero p {
        display: none;
    }

    .productosItem {
        width: 280px;
        height: 330px;
    }
}

/*--------------------------CONTACTÁNOS--------------------------*/
@media screen and (max-width:1080px) {
    .contenedorContacto {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .formulario {
        width: 100%;
    }

    .infoImportante {
        width: 100%;
        height: 200px;
        margin-top: 15px;
    }

    .footerContenedor .navBar ul li {
        font-size: 14px;
    }
}

@media screen and (max-width: 890px) {
    .carrusel h2 {
        font-size: 25px;
    }

    .formularioEncabezado h2 {
        font-size: 20px;
    }

    .formularioEncabezado p {
        font-size: 16px;
    }

    .infoImportante h3 {
        font-size: 14px;
    }

    .infoImportante p {
        font-size: 14px;
    }

    .infoImportante {
        height: 180px;
    }
}

@media screen and (max-width: 750px) {
    .carrusel h2 {
        font-size: 20px;
    }

    .formularioEncabezado h2 {
        font-size: 18px;
    }

    .formularioEncabezado p {
        font-size: 14px;
    }

    .formulario {
        font-size: 14px;
    }

    .detalle h3 {
        font-size: 14px;
    }
}

@media screen and (max-width: 580px) {
    .carrusel h2 {
        display: none;
    }

    .formularioEncabezado h2 {
        font-size: 16px;
    }

    .formularioEncabezado p {
        font-size: 14px;
    }

    .formulario {
        font-size: 14px;
    }

    .detalle h3 {
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    .infoImportante {
        height: 190px;
    }
}

@media screen and (max-width: 350px) {
    .infoImportante {
        height: 200px;
    }
}

/*------------- TIENDA ----------*/
@media screen and (max-width: 1240px) {
    .articulosTienda .productosContenedor {
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 30px;
    }
}

@media screen and (max-width: 890px) {
    .articulosTienda .productosContenedor {
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 30px;
    }
}

@media screen and (max-width: 640px) {
    .articulosTienda .productosContenedor {
        margin: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }
}

/*----------- ENVIOS -----------*/
@media screen and (max-width: 1280px) {
    .mapaEnvios iframe {
        width: 400px;
        height: 350px;
    }
}

@media screen and (max-width: 1040px) {
    .enviosContenedor {
        display: flex;
        flex-direction: column;
    }

    .envios {
        width: 100%;
    }

    .mapaEnvios {
        width: 100%;
        padding: 15px;
    }

    .mapaEnvios iframe {
        width: 100%;
        height: 400px;
    }
}

@media screen and (max-width: 790px) {
    .tituloEnvios h2 {
        font-size: 20px;
    }

    .mapaEnvios iframe {
        width: 100%;
        height: 350px;
    }
}

@media screen and (max-width: 400px) {
    .tituloEnvios h2 {
        font-size: 15px;
    }

    .tituloAcordeon {
        font-size: 15px;
    }

    .otrasConsultas {
        font-size: 15px;
    }

    .otrasConsultas h3 {
        font-size: 15px;
    }

    .otrasConsultas .consultas h3 {
        font-size: 15px;
    }

    .metodoPagoItem h3 {
        font-size: 15px;
    }
}

/*-----------A CERCA DE GAIA-------------*/
@media screen and (max-width: 1040px) {
    .titulo {
        font-size: 25px;
    }
}

@media screen and (max-width: 890px) {
    .historia img {
        width: 250px;
        height: 350px;
    }

    .nuestraHistoria p {
        font-size: 15px;
    }

    .historia .nuestroObjetivo p {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .titulo {
        font-size: 20px;
    }

    .historia img {
        display: none;
    }

    .nuestraHistoria {
        width: 100%;
    }
}